/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/

/* fonts, improted by Eli's method */

  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital@0;1&display=swap');
  :root{
    --coal: #343435;
    --dusty-blue: #3E547E;
    --cool-blush: #B68D94;
    --sage: #9FB088;
    --dull-lavender: #8883A0;
    --opal: #FDFBFB;
  
  }



*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
   margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
} 

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/


body{
 font-family: 'Poppins', sans-serif;
 background-color: var(--opal);
 color: var(--coal);
 font-size: 1rem;
}
h1, h2, h3, h4 {
	
  font-family: 'Abril Fatface', serif;
  color: var(--dusty-blue);
}

h1 {
	max-width: 60em;
	padding: 10px 50px;
	position: relative;
	border-radius: 10px;
	margin: 20px 10px;
	border: 4px solid rgb(255, 255, 255);
	color: var(--opal);
}
h2{
	padding: 10px 25px;
	position: relative;
	border-radius: 10px;
}

p{
	max-width: 60em;
	padding: 10px 50px;
	position: relative;
	border-radius: 10px;
	margin: 20px 10px;
}

a{
  color: var(--sage);
  text-decoration: none;
}
a[href]:hover{
  color: var(--dull-lavender);
  text-decoration: underline;
}

a.button{
	color: black;
	background-color: #d3d3d3;
	transition: background-color 300ms ease;
	text-decoration: none;
	height: 1.5em;
	padding: 7px 4px;
	margin: 10px 200px;
	border: #343435;
	border-top:2px solid white ;
	border-left:2px solid white ;
	border-right:2px solid black ;
	border-bottom:2px solid black ;
}
a.button:hover{
	background-color: #787878;
	color:var(--opal);
}

	/* blurring the image */
	.gfg {
		filter: blur(5px);
		width: 100%;
	}
			
	/* designing title and tag line */
	.logo {
		text-align:center;
		position: absolute;
		font-size: 18px;
		top: 50px;
		left: 27%;
		color: white;
	}
	
footer p{
	color: var(--dusty-blue);
	font-size: .75rem;
}		

	
	/* Designing button 
	 .logo button {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 10px 25px;
		color: black;
		background-color: #ddd;
		text-align: center;
		cursor: pointer
	}
	.logo button:hover {
		background-color: #9FB088;
		color: white;
	}  */

